.gridUnit {
  cursor: pointer;
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: all 0.15s ease-in;
}

.gridUnit:hover {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header img {
  width: 100%;
}

.description {
  font-size: 1.7rem;
  padding: 1rem;
}

.price {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 1.4rem;
}

.gridUnit a {
  color: #000;
  text-decoration: none;
}
