.productPage {
  padding-top: 17rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}

.productDiv {
  margin-bottom: 10rem;
  position: relative;
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  padding-top: 5rem;
  width: 50%;
}

.mainImg {
  display: flex;
  height: 70%;
  justify-content: center;
  margin-left: 1rem;
  width: 100%;
}

.mainImg img {
  height: 100%;
  object-fit: cover;
  width: 75%;
}

.otherImg {
  align-items: center;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  padding: 3rem 2rem;
  width: 100%;
}

.otherImg img {
  cursor: pointer;
  height: 20%;
  object-fit: cover;
  width: 22%;
}

.otherImg img:hover {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.18);
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.right {
  background-color: #e5e5e5;
  padding: 16rem 5rem 8rem;
  width: 50%;
}

.right h3 {
  font-size: 3.5rem;
  padding-bottom: 8rem;
  margin-top: -8rem;
}

.right p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.quantity {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.productButtons {
  border: 1px solid #000;
  display: flex;
  height: calc(5.5rem + 2px);
}

.productButtons button {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 3rem;
  height: 5.5rem;
  transition: all 0.2s;
  width: 5.5rem;
}

.productButtons p {
  height: 5rem;
  outline-offset: -2px;
  padding-top: 10px;
  text-align: center;
  width: 6rem;
}

.productButtons button:first-child {
  border-right: 1px solid #000;
}

.productButtons button:last-child {
  border-left: 1px solid #000;
}

.buy {
  display: flex;
  gap: 2rem;
}

.buy button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  height: 5.5rem;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 50%;
}

.buy button:first-child {
  background-color: initial;
  border: 2px solid #000;
}

.buy button:first-child:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}

.buy button:last-child {
  background-color: #b6002c;
  border: 2px solid #b6002c;
  color: #fff;
}

.buy button:last-child:hover {
  background-color: initial;
  border: 2px solid #b6002c;
  color: #b6002c;
}

.spec,
.specifications {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.specifications {
  gap: 3rem;
  height: 10rem;
  margin-bottom: 10rem;
}

.spec {
  background-color: #e5e5e5;
  flex-direction: column;
  padding: 2rem;
}

.specTitle {
  font-size: 2.2rem;
  font-weight: 600;
}

.specDesc {
  font-size: 1.65rem;
}

@media screen and (max-width: 900px) {
  .right h3 {
    font-size: 3rem;
  }

  .right p {
    font-size: 1.8rem;
  }

  .quantity {
    display: flex;
    flex-direction: column;
  }

  .productButtons {
    max-width: 170px;
    margin-bottom: 5rem;
  }
}
