.trendingContainer {
  padding-bottom: 10rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
}

.trending {
  display: flex;
  justify-content: space-between;
}

.trending h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4.2rem;
}

.buttons {
  display: flex;
  gap: 0.4rem;
}

.buttons button {
  background-color: #373737;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  height: 4rem;
  padding: 1rem;
  transition: all 0.1s ease-in;
  width: 4rem;
}

.buttons button:hover {
  background-color: #000;
}

.row {
  display: flex;
  gap: 2.2rem;
  overflow-x: hidden;
  padding: 1rem 0.6rem;
  position: relative;
  scroll-behavior: smooth;
  white-space: nowrap;
}
